<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--指定 Spring 到哪些包下扫描注解-->
    <context:component-scan base-package="com.henleo.rbac"/>

    <!--配置数据员连接,DBCP连接池,此处连接OracleXE-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="system"/>
        <property name="password" value="123456"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
    </bean>

    <!--MyBatis 连接数据源的会话工厂-->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--根据持久层接口,创建持久层Bean-->
    <bean id="roleDaoImpl" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sessionFactory"/>
        <property name="mapperInterface" value="com.henleo.rbac.dao.RoleDaoInterface"/>
    </bean>

    <bean id="menuDaoImpl" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sessionFactory"/>
        <property name="mapperInterface" value="com.henleo.rbac.dao.MenuDaoInterface"/>
    </bean>

    <bean id="operatorDaoImpl" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sessionFactory"/>
        <property name="mapperInterface" value="com.henleo.rbac.dao.OperatorDaoInterface"/>
    </bean>

    <bean id="authorizationDaoImpl" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sessionFactory"/>
        <property name="mapperInterface" value="com.henleo.rbac.dao.AuthorizationDaoInterface"/>
    </bean>

    <!--配置 Spring 事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--声明事务(注解),此处同名的名称空间有多个,注意选择正确的-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
</beans>